
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/PagoApp/nbproject/private/
/Sem02/PagoApp/build/
/Sem02/PagoApp/dist/
/Sem03/AprendiendoJava/nbproject/private/
/Sem03/AprendiendoJava/build/
/Sem03/VentaApp/nbproject/private/
/Sem03/VentaApp/build/
/Sem07/DemoJDBC/nbproject/private/
/Sem07/DemoJDBC/build/
/Sem11/ExamenParcial/nbproject/private/
/Sem11/ExamenParcial/build/
/Sem12/App12/nbproject/private/
/Sem12/App12/build/
/Sem13/EduTec/nbproject/private/
/Sem13/EduTecSoft/nbproject/private/
/Sem13/EduTecSoft/build/