
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/PagoApp/nbproject/private/
/Sem02/PagoApp/build/
/Sem02/PagoApp/dist/
/Sem03/AprendiendoJava/nbproject/private/
/Sem03/AprendiendoJava/build/